.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
